<div class="media--view-mode-media-collection mb-4">
    {{ content.thumbnail }}
    <div class="w-100 text-center position-absolute play-button-wrapper">
        <div class="media-collection-play btn btn-primary btn-icon btn-icon-play btn-hide-text">
            <span class="visually-hidden">{{ 'Play'|t }}</span>
        </div>
    </div>
</div>
