.paragraph--type--sa-hero {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  width: 100%;
  overflow: hidden;
  position: relative;

  @include media-breakpoint-up(lg) {
    min-height: 55vh;
  }

  #hero-video-control {
    background-color: unset;
    border: 0;

    &.play {
      .bi-pause {
        display: none;
      }
    }

    &.pause {
      .bi-play {
        display: none;
      }
    }

    .bi {
      font-size: 1.5rem;
    }
  }

  .hero-image {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    aspect-ratio: 16 / 9;
    position: unset !important;

    @include media-breakpoint-down(lg) {
      position: relative !important;

      iframe {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }

  &.video {
    @include media-breakpoint-up(lg) {
      aspect-ratio: 16 / 9;
    }

    video {
      height: 100%;
      width: 100%;
    }
  }

  @include media-breakpoint-down(lg) {
    .hero-content {
      color: white;

      .bi {
        color: white;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .hero-content {
      position: relative;
    }

    /* Overlay. */
    &[data-overlay] {
      .hero-content {
        padding: 20px;
        color: white;

        .bi {
          color: white;
        }

        // Set all inner content to be higher z-index than before.
        .text-wrapper,
        #hero-video-control {
          position: relative;
          z-index: 2;
        }
      }

      &::before {
        background: #252525 none repeat scroll 0 0;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }

    // Loops 1 - 9 and adds opacity $i x 0.1
    @for $i from 1 through 9 {
      &[data-overlay='#{$i}'] {
        &::before {
          opacity: calc($i * 0.1);
        }
      }
    }

    &--overlay-invert {
      &[data-overlay] {
        &::before {
          background: #fff none repeat scroll 0 0;
        }
      }
    }
  }
}

.page-header {
  @include media-breakpoint-up(lg) {
    min-height: 55vh;
    overflow: hidden;
  }

  &.video {
    video {
      height: 100%;
      width: 100%;
    }
  }
}

.hero-image-page {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  aspect-ratio: 16 / 9;
  z-index: 0 !important;
  position: unset !important;

  @include media-breakpoint-down(lg) {
    position: relative !important;

    iframe {
      height: 100% !important;
      width: 100% !important;
    }
  }
}

.video-background-controls {
  @extend .z-3;

  // This class will have to be manually added to the body node, but gives some
  // flexibility to turn this off/turn on FontAwesome.
  body:not(.fontawesome) & {
    button {
      align-items: center;
      display: inline-flex;
      justify-content: center;
      padding: 0.375rem;

      i {
        background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="m256 512a256 256 0 1 0 0-512 256 256 0 1 0 0 512zm-32-320v128c0 17.7-14.3 32-32 32s-32-14.3-32-32v-128c0-17.7 14.3-32 32-32s32 14.3 32 32zm128 0v128c0 17.7-14.3 32-32 32s-32-14.3-32-32v-128c0-17.7 14.3-32 32-32s32 14.3 32 32z" /%3E%3Cpath d="m512 256a256 256 0 1 1 512 0 256 256 0 1 1 -512 0zm188.3-108.9c-7.6 4.2-12.3 12.3-12.3 20.9v176c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z" /%3E%3Cpath d="m240.88 591.02234c9.2 4.16 15.12 13.28 15.12 23.36v307.19998c0 10.08-5.92 19.2-15.12 23.36s-20 2.48-27.52-4.24l-107.92-95.91998h-54.24c-28.24 0-51.2-22.96-51.2-51.2v-51.2c0-28.24 22.96-51.2 51.2-51.2h54.24l107.92-95.92c7.52-6.72 18.32-8.32 27.52-4.24zm99.12 105.76 44 44 44-44c7.52-7.52 19.68-7.52 27.12 0s7.52 19.68 0 27.12l-44 44 44 44c7.52 7.52 7.52 19.68 0 27.12s-19.68 7.52-27.12 0l-44-44-44 44c-7.52 7.52-19.68 7.52-27.12 0s-7.52-19.68 0-27.12l44-44-44-44c-7.52-7.52-7.52-19.68 0-27.12s19.68-7.52 27.12 0z" /%3E%3Cpath d="m938.88 589.22329c51.92 42.16 85.12 106.64 85.12 178.8s-33.2 136.56-85.12 178.79999c-8.24 6.72-20.32 5.44-27.04-2.8s-5.44-20.32 2.8-27.04c43.36-35.19999 70.96-88.79999 70.96-148.95999s-27.6-113.76-70.96-149.04c-8.24-6.72-9.44-18.8-2.8-27.04s18.8-9.44 27.04-2.8zm-48.4 59.6c34.56 28.16 56.72 71.12 56.72 119.2s-22.16 91.04-56.72 119.2c-8.24 6.72-20.32 5.44-27.04-2.8s-5.44-20.32 2.8-27.04c26-21.12 42.56-53.28 42.56-89.36s-16.56-68.24-42.56-89.44c-8.24-6.72-9.44-18.8-2.8-27.04s18.8-9.44 27.04-2.8zm-48.4 59.6c17.2 14.08 28.32 35.52 28.32 59.6s-11.12 45.52-28.32 59.6c-8.24 6.72-20.32 5.44-27.04-2.8s-5.44-20.32 2.8-27.04c8.64-7.04 14.16-17.76 14.16-29.76s-5.52-22.72-14.16-29.84c-8.24-6.72-9.44-18.8-2.8-27.04s18.8-9.44 27.04-2.8zm-89.2-117.36c9.2 4.16 15.12 13.28 15.12 23.36v307.19999c0 10.08-5.92 19.2-15.12 23.36s-20 2.48-27.52-4.24l-107.92-95.91999h-54.24c-28.24 0-51.2-22.96-51.2-51.2v-51.2c0-28.24 22.96-51.2 51.2-51.2h54.24l107.92-95.92c7.52-6.72 18.32-8.32 27.52-4.24z" /%3E%3C/svg%3E%0A');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 200%;
        height: 1rem;
        width: 1rem;

        &::before {
          display: none;
        }
      }

      &.play-toggle.paused {
        i {
          background-position: 100% 0;
        }
      }

      &.mute-toggle {
        i {
          background-position: 0 100%;
        }
        &.muted {
          i {
            background-position: 100% 100%;
          }
        }
      }
    }
  }
}
