// Media Collection
.modal.lightbox {
    .modal-content {
        background: linear-gradient(rgba(235, 255, 242, 1), rgba(250, 255, 252, 1));
        border-radius: 2rem;
        padding: 4rem;
        @include media-breakpoint-down(md) {
            padding: 2.5rem;
        }
    }
    .carousel {
        .ratio {
            background-color: transparent !important;
        }
        .carousel-control {
            background-image: none;
            &.carousel-control-prev {
                justify-content: start;
                left: -40px;
                .carousel-control-prev-icon {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
                }
            }
            &.carousel-control-next {
                justify-content: end;
                right: -40px;
                .carousel-control-next-icon {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                }
            }
        }
    }
    .btn-close {
        top: -50px !important;
        right: -50px !important;
        svg {
            fill: #000000;
        }
        @include media-breakpoint-down(md) {
            top: -40px !important;
            right: -40px !important;
        }
    }

    .caption {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);

        p:last-child {
            margin-bottom: 0;
        }
    }
}

.media--view-mode-media-collection {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        left: 0;
    }
    p {
        display: none;
    }
}

.paragraph--type--media-collection {
    .grid {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include media-breakpoint-up(lg) {
            display: grid;
            gap: 2rem;
            grid-template-columns: 75% calc(26% - 2rem);
        }
        
        @include media-breakpoint-up(lg) {
            button:first-child {
                grid-row: 1 / 3;
                .media--view-mode-media-collection  {
                    aspect-ratio: 3 / 2;
                }
            }
            button:nth-child(2) {
                .media--view-mode-media-collection  {
                    margin-bottom: 0 !important;
                }
            }
            button:nth-child(3) {
                grid-column: 2;
            }
        } 
    }
    button {
        background: none;
        border: none;
    }

    .play-button-wrapper {
        top: 50%;
        transform: translateY(-50%);
        .media-collection-play {
            --bs-btn-padding-y: 1.5rem;
            --bs-btn-border-radius: 2.5rem;
            &::before {
                font-size: 2rem;
            }
        }
    }
}
