// Overrides.
// Makes images responsive.
.img-fluid {
  width: 100% !important;
}

// Make sure container fluid is edge to edge.
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;

  .row {
    margin-right: 0;
    margin-left: 0;
  }
}

// Main menu.
#block-saplings-child-mainnavigation {
  width: 100%;
}

// Main menu align right.
.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
}

// Unset align right on mobile.
@include media-breakpoint-down(md) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    justify-content: start;
    gap: 0;
  }
}

// Fix Bootstrap placeholder styles in admin theme.
em.placeholder {
  background-color: transparent;
  opacity: 1;
}

lite-youtube {
  max-width: 100%;
}

// Vertical Tabs
.vtabs {
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
  }

  .accordion-item {
    border: none;
  }

  .nav-tabs .nav-link {
    width: 100%;
    text-align: left;
    border-radius: 0.375rem;

    &.active {
      border-bottom: #dee2e6 1px solid;
    }
  }

  ul.nav-tabs.nav {
    display: block;
    border-bottom: none;
  }
}

.nav.nav-tabs.nav-tabs-mobile {
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: 0.625rem 2.25rem 0.625rem 0.625rem;
  margin-bottom: 1.25rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 130%;
  border-radius: 3px;
  border: 1px solid #000;
  cursor: pointer;
}
