// Overrides.
// Makes images responsive.
.img-fluid {
  width: 100% !important;
}

// Make sure container fluid is edge to edge.
.container-fluid {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;

  .row {
    margin-inline-end: 0;
    margin-inline-start: 0;
  }
}

// Main menu.
#block-saplings-child-mainnavigation {
  width: 100%;
  display: flex;

  @include media-breakpoint-up(lg) {
    justify-content: end;
  }
}

// Main menu align right.
.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
}

// Unset align right on mobile.
@include media-breakpoint-down(lg) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    justify-content: start;
    gap: 0;
  }
}

// Fix Bootstrap placeholder styles in admin theme.
em.placeholder {
  background-color: transparent;
  opacity: 1;
}

lite-youtube {
  max-width: 100%;
}

// Vertical Tabs
.vtabs {
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
  }

  .accordion-item {
    border: none;
  }

  .nav-tabs .nav-link {
    width: 100%;
    text-align: left;
    border-radius: 0.375rem;

    &.active {
      border-bottom: #dee2e6 1px solid;
    }
  }

  ul.nav-tabs.nav {
    display: block;
    border-bottom: none;
  }
}

.nav.nav-tabs.nav-tabs-mobile {
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: 0.625rem 2.25rem 0.625rem 0.625rem;
  margin-bottom: 1.25rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 130%;
  border-radius: 3px;
  border: 1px solid #000;
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: end;
}

.paragraph--type--sa-testimonial {
  .media {
    max-width: 200px;
    max-height: 200px;
    
    .field--item:has(> img[data-ratio="1:1"]) {
      background: none;
    }
    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }

  .quote-text {
    font-size: 1.5rem;
    margin-bottom: 1rem; 
    &::before {
      content: "“";
      display: inline-block;
    }

    p {
      display: inline;
    }

    &::after {
      content: "”";
      display: inline-block;
    }
  }

  .testimonial-name {
    font-weight: bold;
  }
}
